.App{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.inputAndButton{
  display: flex;
  flex-direction: column;
}

.input{
  display: flex;
  flex-direction: column;
}